#page-login {
    width: 100vw;
    height: 100vh;
    color: var(--color-text-in-primary);
    background-color: var(--color-background);
}

#page-login-content{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

#page-login-content .login-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
    margin: 8rem 0;
}

.login-logo-container img {
    height: 10rem;
}

.login-logo-container > img{
    /* position: absolute;
    transform: rotate(90deg); */
    height: 40rem;
}

.login-logo-container h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.login-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
}

.login-form .input-container{
    width: 100%;
}

.input-block{
    width: 100%;
}

.login-form fieldset {
    border: 0;
    padding: 0 2.4rem;
    width: 100%;
}

.login-form fieldset legend {
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

.login-form label {
    color: var(--color-text-complement);
}

.login-form form {
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding: 2rem;
    overflow: hidden;
}

.login-form fieldset header{
    display: flex;
}

.login-form fieldset header a{
    text-decoration: none;
    width: 10rem;
    margin-left: -10rem;
    color: var(--color-text-complement);
}

.login-form fieldset form button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

.login-form fieldset form footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.login-form fieldset form footer a{
    margin-top: 2rem;
    text-decoration: none;
    color: var(--color-text-complement);
}

.login-form fieldset form footer div{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.login-form fieldset form footer div input{
    margin-right: 0.8rem;
}


/* @media (min-width: 1100px) {
    
} */